trunk/02 - Desenvolvimento/03 - Construcao/aplicacao/client/ControlChequeClient/src/wsdl/localhost_8080/ControlChequeServices/WSControlCheque.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servico.controlcheque.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servico.controlcheque.com.br/" name="WSControlCheque">
<types>
<xsd:schema>
<xsd:import namespace="http://servico.controlcheque.com.br/" schemaLocation="http://localhost:8080/ControlChequeServices/WSControlCheque?xsd=1" />
</xsd:schema>
</types>
<message name="recBancos">
<part name="parameters" element="tns:recBancos" />
</message>
<message name="recBancosResponse">
<part name="parameters" element="tns:recBancosResponse" />
</message>
<message name="salvarBanco">
<part name="parameters" element="tns:salvarBanco" />
</message>
<message name="salvarBancoResponse">
<part name="parameters" element="tns:salvarBancoResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="WSControlCheque">
<operation name="recBancos">
<input wsam:Action="http://servico.controlcheque.com.br/WSControlCheque/recBancosRequest" message="tns:recBancos" />
<output wsam:Action="http://servico.controlcheque.com.br/WSControlCheque/recBancosResponse" message="tns:recBancosResponse" />
</operation>
<operation name="salvarBanco">
<input wsam:Action="http://servico.controlcheque.com.br/WSControlCheque/salvarBancoRequest" message="tns:salvarBanco" />
<output wsam:Action="http://servico.controlcheque.com.br/WSControlCheque/salvarBancoResponse" message="tns:salvarBancoResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://servico.controlcheque.com.br/WSControlCheque/helloRequest" message="tns:hello" />
<output wsam:Action="http://servico.controlcheque.com.br/WSControlCheque/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="WSControlChequePortBinding" type="tns:WSControlCheque">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="recBancos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="salvarBanco">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSControlCheque">
<port name="WSControlChequePort" binding="tns:WSControlChequePortBinding">
<soap:address location="http://localhost:8080/ControlChequeServices/WSControlCheque" />
</port>
</service>
</definitions>