trunk/02 - Desenvolvimento/03 - Construcao/aplicacao/client/ControlChequeClient/src/wsdl/localhost_8080/ControlChequeServices/WSControlCheque.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://servico.controlcheque.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servico.controlcheque.com.br/">

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="recBancos" type="tns:recBancos" />

<xs:element name="recBancosResponse" type="tns:recBancosResponse" />

<xs:element name="salvarBanco" type="tns:salvarBanco" />

<xs:element name="salvarBancoResponse" type="tns:salvarBancoResponse" />

<xs:complexType name="recBancos">
<xs:sequence />
</xs:complexType>

<xs:complexType name="recBancosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarBanco">
<xs:sequence />
</xs:complexType>

<xs:complexType name="salvarBancoResponse">
<xs:sequence>
<xs:element name="return" type="tns:banco" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="banco">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0" />
<xs:element name="descricao" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>