02 - Desenvolvimento/03 - Construcao/aplicacao/client/ControlChequeClienteNovo/src/wsdl/localhost_8080/ControlChequeServico/WsControlChequeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.controlcheque.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.controlcheque.com.br/" name="WsControlChequeService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.controlcheque.com.br/" schemaLocation="http://localhost:8080/ControlChequeServico/WsControlChequeService?xsd=1" />
</xsd:schema>
</types>
<message name="recValorChequePorIntervaloData">
<part name="parameters" element="tns:recValorChequePorIntervaloData" />
</message>
<message name="recValorChequePorIntervaloDataResponse">
<part name="parameters" element="tns:recValorChequePorIntervaloDataResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="deletarBanco">
<part name="parameters" element="tns:deletarBanco" />
</message>
<message name="deletarBancoResponse">
<part name="parameters" element="tns:deletarBancoResponse" />
</message>
<message name="salvarCheque">
<part name="parameters" element="tns:salvarCheque" />
</message>
<message name="salvarChequeResponse">
<part name="parameters" element="tns:salvarChequeResponse" />
</message>
<message name="salvarBanco">
<part name="parameters" element="tns:salvarBanco" />
</message>
<message name="salvarBancoResponse">
<part name="parameters" element="tns:salvarBancoResponse" />
</message>
<message name="loginUsuario">
<part name="parameters" element="tns:loginUsuario" />
</message>
<message name="loginUsuarioResponse">
<part name="parameters" element="tns:loginUsuarioResponse" />
</message>
<message name="recTodosBancos">
<part name="parameters" element="tns:recTodosBancos" />
</message>
<message name="recTodosBancosResponse">
<part name="parameters" element="tns:recTodosBancosResponse" />
</message>
<message name="salvarListBancos">
<part name="parameters" element="tns:salvarListBancos" />
</message>
<message name="salvarListBancosResponse">
<part name="parameters" element="tns:salvarListBancosResponse" />
</message>
<message name="gerarCodigoCliente">
<part name="parameters" element="tns:gerarCodigoCliente" />
</message>
<message name="gerarCodigoClienteResponse">
<part name="parameters" element="tns:gerarCodigoClienteResponse" />
</message>
<message name="salvarCliente">
<part name="parameters" element="tns:salvarCliente" />
</message>
<message name="salvarClienteResponse">
<part name="parameters" element="tns:salvarClienteResponse" />
</message>
<message name="recTodosClientes">
<part name="parameters" element="tns:recTodosClientes" />
</message>
<message name="recTodosClientesResponse">
<part name="parameters" element="tns:recTodosClientesResponse" />
</message>
<message name="deletarCliente">
<part name="parameters" element="tns:deletarCliente" />
</message>
<message name="deletarClienteResponse">
<part name="parameters" element="tns:deletarClienteResponse" />
</message>
<message name="salvarListClientes">
<part name="parameters" element="tns:salvarListClientes" />
</message>
<message name="salvarListClientesResponse">
<part name="parameters" element="tns:salvarListClientesResponse" />
</message>
<message name="gerarCodigoCheque">
<part name="parameters" element="tns:gerarCodigoCheque" />
</message>
<message name="gerarCodigoChequeResponse">
<part name="parameters" element="tns:gerarCodigoChequeResponse" />
</message>
<message name="recTodosCheques">
<part name="parameters" element="tns:recTodosCheques" />
</message>
<message name="recTodosChequesResponse">
<part name="parameters" element="tns:recTodosChequesResponse" />
</message>
<message name="deletarCheque">
<part name="parameters" element="tns:deletarCheque" />
</message>
<message name="deletarChequeResponse">
<part name="parameters" element="tns:deletarChequeResponse" />
</message>
<message name="salvarListCheques">
<part name="parameters" element="tns:salvarListCheques" />
</message>
<message name="salvarListChequesResponse">
<part name="parameters" element="tns:salvarListChequesResponse" />
</message>
<message name="recChequesPorSituacao">
<part name="parameters" element="tns:recChequesPorSituacao" />
</message>
<message name="recChequesPorSituacaoResponse">
<part name="parameters" element="tns:recChequesPorSituacaoResponse" />
</message>
<message name="recChequePorId">
<part name="parameters" element="tns:recChequePorId" />
</message>
<message name="recChequePorIdResponse">
<part name="parameters" element="tns:recChequePorIdResponse" />
</message>
<message name="deletarChequeLixeira">
<part name="parameters" element="tns:deletarChequeLixeira" />
</message>
<message name="deletarChequeLixeiraResponse">
<part name="parameters" element="tns:deletarChequeLixeiraResponse" />
</message>
<message name="salvarUsuario">
<part name="parameters" element="tns:salvarUsuario" />
</message>
<message name="salvarUsuarioResponse">
<part name="parameters" element="tns:salvarUsuarioResponse" />
</message>
<message name="backupControlCheque">
<part name="parameters" element="tns:backupControlCheque" />
</message>
<message name="backupControlChequeResponse">
<part name="parameters" element="tns:backupControlChequeResponse" />
</message>
<portType name="WsControlChequeService">
<operation name="recValorChequePorIntervaloData">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recValorChequePorIntervaloDataRequest" message="tns:recValorChequePorIntervaloData" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recValorChequePorIntervaloDataResponse" message="tns:recValorChequePorIntervaloDataResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recValorChequePorIntervaloData/Fault/Exception" />
</operation>
<operation name="deletarBanco">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarBancoRequest" message="tns:deletarBanco" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarBancoResponse" message="tns:deletarBancoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarBanco/Fault/Exception" />
</operation>
<operation name="salvarCheque">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarChequeRequest" message="tns:salvarCheque" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarChequeResponse" message="tns:salvarChequeResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarCheque/Fault/Exception" />
</operation>
<operation name="salvarBanco">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarBancoRequest" message="tns:salvarBanco" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarBancoResponse" message="tns:salvarBancoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarBanco/Fault/Exception" />
</operation>
<operation name="loginUsuario">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/loginUsuarioRequest" message="tns:loginUsuario" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/loginUsuarioResponse" message="tns:loginUsuarioResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/loginUsuario/Fault/Exception" />
</operation>
<operation name="recTodosBancos">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recTodosBancosRequest" message="tns:recTodosBancos" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recTodosBancosResponse" message="tns:recTodosBancosResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recTodosBancos/Fault/Exception" />
</operation>
<operation name="salvarListBancos">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarListBancosRequest" message="tns:salvarListBancos" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarListBancosResponse" message="tns:salvarListBancosResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarListBancos/Fault/Exception" />
</operation>
<operation name="gerarCodigoCliente">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/gerarCodigoClienteRequest" message="tns:gerarCodigoCliente" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/gerarCodigoClienteResponse" message="tns:gerarCodigoClienteResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/gerarCodigoCliente/Fault/Exception" />
</operation>
<operation name="salvarCliente">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarClienteRequest" message="tns:salvarCliente" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarClienteResponse" message="tns:salvarClienteResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarCliente/Fault/Exception" />
</operation>
<operation name="recTodosClientes">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recTodosClientesRequest" message="tns:recTodosClientes" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recTodosClientesResponse" message="tns:recTodosClientesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recTodosClientes/Fault/Exception" />
</operation>
<operation name="deletarCliente">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarClienteRequest" message="tns:deletarCliente" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarClienteResponse" message="tns:deletarClienteResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarCliente/Fault/Exception" />
</operation>
<operation name="salvarListClientes">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarListClientesRequest" message="tns:salvarListClientes" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarListClientesResponse" message="tns:salvarListClientesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarListClientes/Fault/Exception" />
</operation>
<operation name="gerarCodigoCheque">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/gerarCodigoChequeRequest" message="tns:gerarCodigoCheque" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/gerarCodigoChequeResponse" message="tns:gerarCodigoChequeResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/gerarCodigoCheque/Fault/Exception" />
</operation>
<operation name="recTodosCheques">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recTodosChequesRequest" message="tns:recTodosCheques" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recTodosChequesResponse" message="tns:recTodosChequesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recTodosCheques/Fault/Exception" />
</operation>
<operation name="deletarCheque">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarChequeRequest" message="tns:deletarCheque" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarChequeResponse" message="tns:deletarChequeResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarCheque/Fault/Exception" />
</operation>
<operation name="salvarListCheques">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarListChequesRequest" message="tns:salvarListCheques" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarListChequesResponse" message="tns:salvarListChequesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarListCheques/Fault/Exception" />
</operation>
<operation name="recChequesPorSituacao">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recChequesPorSituacaoRequest" message="tns:recChequesPorSituacao" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recChequesPorSituacaoResponse" message="tns:recChequesPorSituacaoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recChequesPorSituacao/Fault/Exception" />
</operation>
<operation name="recChequePorId">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recChequePorIdRequest" message="tns:recChequePorId" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recChequePorIdResponse" message="tns:recChequePorIdResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/recChequePorId/Fault/Exception" />
</operation>
<operation name="deletarChequeLixeira">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarChequeLixeiraRequest" message="tns:deletarChequeLixeira" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarChequeLixeiraResponse" message="tns:deletarChequeLixeiraResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/deletarChequeLixeira/Fault/Exception" />
</operation>
<operation name="salvarUsuario">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarUsuarioRequest" message="tns:salvarUsuario" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarUsuarioResponse" message="tns:salvarUsuarioResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/salvarUsuario/Fault/Exception" />
</operation>
<operation name="backupControlCheque">
<input wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/backupControlChequeRequest" message="tns:backupControlCheque" />
<output wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/backupControlChequeResponse" message="tns:backupControlChequeResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.controlcheque.com.br/WsControlChequeService/backupControlCheque/Fault/Exception" />
</operation>
</portType>
<binding name="WsControlChequeServicePortBinding" type="tns:WsControlChequeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="recValorChequePorIntervaloData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="deletarBanco">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarCheque">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarBanco">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="loginUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recTodosBancos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarListBancos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="gerarCodigoCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recTodosClientes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="deletarCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarListClientes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="gerarCodigoCheque">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recTodosCheques">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="deletarCheque">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarListCheques">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recChequesPorSituacao">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recChequePorId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="deletarChequeLixeira">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="backupControlCheque">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
</binding>
<service name="WsControlChequeService">
<port name="WsControlChequeServicePort" binding="tns:WsControlChequeServicePortBinding">
<soap:address location="http://localhost:8080/ControlChequeServico/WsControlChequeService" />
</port>
</service>
</definitions>